@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?87873449');
  src: url('../fonts/fontello.eot?87873449#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff?87873449') format('woff'),
       url('../fonts/fontello.ttf?87873449') format('truetype'),
       url('../fonts/fontello.svg?87873449#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
 
     
 [class^="icon-"]:before, [class*=" icon-"]:before
    {
      font-family: "fontello";
      font-style: normal;
      font-weight: normal;
      speak: none;
     
      display: inline-block;
      text-decoration: inherit;
     
      text-align: center;
      /* opacity: .8; */
     
      /* For safety - reset parent styles, that can break glyph codes*/
      font-variant: normal;
      text-transform: none;
     
      /* fix buttons height, for twitter bootstrap */

     
      /* Animation center compensation - margins should be symmetric */
      /* remove if not needed */
      
      /* You can be more comfortable with increased icons size */
      /* font-size: 120%; */
     
      /* Font smoothing. That was taken from TWBS */
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
     
      /* Uncomment for 3D effect */
      /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  
    }

   .icon-smile:before{content: '\e803';}
   .icon-year:before{    content: '\e801';}
   .icon-meetings:before{    content: '\e807';}
   .icon-likes:before{    content: '\e800';}

   .icon-bulb:before{    content: '\e804';}
   .icon-tab:before{    content: '\e802';}
   .icon-solar:before{    content: '\e806';}
   .icon-shovel:before{    content: '\e805';}