/* Theme transition Effect */
*:after,
*:before,
a,
p,
h1,h2,h3,h4,h5,h6,
button,
.services-panal span,
.owl-nav div,
.team-hover,
.team-hover .img,
.team-hover .img:before,
.team-hover .info,
.team-icon span,
.project-overlay h3,
.flicker-imgs li .overlay,
.archiev-widget li,
.categories li,
.test-slider .owl-nav div,
.working-hours li,
.s-style-2 span,
.s-style-2 h3,
.project-image img,
.main-nav-2 > ul > li > ul,
.faqs-area li h4,
.faqs-area .panel-collapse,
.team-img img,
.team-img,
.project-overlay ul li,
.navigation > li > ul,
.search-form > li > ul,
.box-icon,
.tweets-widget li img,
.info-block
{-webkit-transition: all 0.3s ease-in-out;
-moz-transition: all 0.3s ease-in-out;
-ms-transition: all 0.3s ease-in-out;
-o-transition: all 0.3s ease-in-out;
transition: all 0.3s ease-in-out;}







