h1 {
	color: white;
	font-family:Century Gothic;
}
h6{
	font-family:Century Gothic;}
.header-text{
	font-size: 12px;
    font-family: Century Gothic;
	margin-bottom:0px !important}	
body {
    overflow-x:hidden;
	margin: 0;
	padding: 0;
}
.submit-btn{
    border-radius: 30px;
    background-color: rgb(123,193,67) !important;
    color: white;
}
.submit-btn:hover{
    background-color:dark rgb(123,193,67) !important;
    color:white;
}
.wrap {
	position: relative;
	padding: 20px;
}
.wrapper {
	overflow: hidden;
}
.header {
	background-color: rgb(83,83,83);
    box-shadow: 0px 0px 10px rgba(25, 25, 25, 0.8);
}
.kit-design {
	width: 100%;
	height: auto;
	padding: 5px;
}
.menu-1 {
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	height: auto;
}
.color-box {
	height: 30px;
	border: 1px solid gray;
}
.color-box-text {
	padding: 5px;
}
.selected-color {
	color: #cc99cc;
	float: left;
}
.embelishment {
	cursor: pointer;
}
.embelishment:hover {
	transform: scale(1.1);
}
.companies-logo {
	padding-left: 0;
	padding-right: 5px;
	padding-bottom: 5px;
}
.mrg {
	padding-top: 4px;
	padding-left: 15px;
}
.btn {
	border: 1px thin #cccccc;
	background-color: rgb(233,229,229);
}
.btn:hover {
	background-color: darkgray;
}
.select-color {
	float: right;
	padding-top: 15px;
	padding-bottom: 15px;
}
/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 126px; /* Location of the box */
	
    margin-top:10%;
	width: 80%; /* Full width */
	height: auto; /* Full height */
	overflow:hidden;
	padding: 10px ;
    margin: 0 auto;
    
	/* Enable scroll if needed *//*background-color: rgb(0,0,0);  Fallback color */
  /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.modal-content {
	background-color:#fff;
	margin: auto;
	padding: 20px;
	border: 1px solid #888;
    width: 100%;
    cursor: pointer;
}
.adddesign{
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 126px; /* Location of the box */
	left: 0;
    top: 0;
    margin-top:10%;
	margin-left: 15%;
	width: 80%; /* Full width */
	height: auto; /* Full height */
	overflow: auto;
	padding: 10px ;/* Enable scroll if needed *//*background-color: rgb(0,0,0);  Fallback color */
  /*background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
/* Modal Content */
.adddesign-modal{
	background-color: #fff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    margin-left: 10px;
    margin-top: 111px;
}
.close-adddesign-modal{
    color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close-adddesign-modal:hover,.close-adddesign-modal:focus{
    color: #000;
	text-decoration: none;
	cursor: pointer;
}
/* The Close Button */
.close {
	color: #aaaaaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}
.color-pick {
	width: 25px;
	height: 25px;
	border: 1px solid red;
}
.setp-shape {
	/*clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 53%, 0% 0%);*/
	clip-path: polygon(0% 0%, 87% 0, 100% 50%, 87% 100%, 0% 100%);
	height: auto;
	background-color:rgb(157,143,139);
	text-align: left;
	color: white;
	padding-top: 10px;
	padding-bottom:10px;
}
.step-2-shape {
	/*clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);*/
	clip-path: polygon(87% 0, 100% 50%, 87% 100%, 0% 100%, 13% 52%, 0% 0%);
	height: auto;
	background-color:rgb(157,143,139);
	text-align: left;
	color: white;
	padding-top: 10px;
	margin-left: -9px;
	padding-left: 40px;
	padding-bottom:10px;
}
.off-on{
	
	height:auto;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
	background-color: rgb(233,229,229);
	}
.off-style{
	float:left;
	padding:10px;
	text-align:center;
	cursor:pointer;
	}	
.on-style{
	float:right;
	padding:10px;
	text-align:center;
	cursor:pointer;}	
.active-1 {
    background-color: rgb(123,193,67);
    color: white;
}	
.container-fluid {
 padding: 10px;
}
/*Sunmit form style*/

.modern-form {
    width: 500px;
    margin: 30px auto;
    background-color:  #fff;
    border: solid 1px #ccc;
    padding: 20px 10px;
  }
  
  .modern-form h3 {
    text-align: center;
  }
  
  .float-label-field {
    border: none;
    outline: none;
    position: relative;
    margin: 0 0 20px 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .float-label-field input {
    border: none;
    outline: none;
    padding: 5px 5px 8px 0px;
    width: 100%;
    font-size: 18px;
    border-bottom: solid 1px #efefef;
  }
  
  .float-label-field label {
    opacity: 0.5;
    position: absolute;
    top: 10px;
    left: 0px;
    transition: all 0.2s ease;
    font-size: 18px;
  }
  
  .float-label-field.focus label {
    color:rgb(123,193,67);
  }
  .float-label-field.focus input {
    border-bottom: solid 1px rgb(123,193,67);
  }
  .float-label-field.float label {
    opacity: 1;
    top: -8px;
    font-size: 60%;
    transition: all 0.2s ease;
    font-weight: bold;
  }
 /*product Style*/
 /*Product style*/
.product_text {
    color: grey;
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    padding-top: 10px;
    cursor: pointer;
}

.product_text:hover {
    color: black;
    border-bottom: 1px solid black;
}

.menuTitle {
    margin-top: 10px;
}

.menu.filter ul {
    margin: 0;
    padding: 8px 0;
    list-style: none;
}

.menu.filter ul li {
    width: 100%;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.menu.filter ul li:hover,
.menu.filter ul li.actived {
    border-color: black;

}

.menu.filter ul li:hover *,
.menu.filter ul li.actived * {
    color: #000;
    fill: #000;
}

.menu.filter ul li a {
    display: block;
    width: 100%;
    height: 100%;
    color: grey;
    text-decoration: none;
    line-height: 26px;
}

.menu.filter ul li a:hover {
    text-decoration: none;
}

.menuTitle {
    display: block;
    font-size: 12px;
    text-transform: uppercase;
}

/*End*/
.side-crop {
    width: 100% !important;
    overflow: hidden !important;
    text-indent: 83px;
    object-fit: contain;
    margin-left: -40px;
}

.side-crop .prodicy-img.img {
    max-width: initial;
    /* Maybe optional. See note below */
}

.prodict-img {
    width: 100%;
    height: auto;
	overflow: hidden;
	margin-bottom:20px;
}
 /* End*/ 
/*
*
* ColorPick jQuery plugin
* https://github.com/philzet/ColorPick.js
*
* Copyright (c) 2017 Phil Zet (a.k.a. Philipp Zakharchenko)
* Licensed under the MIT License
*
*/

@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://fonts.gstatic.com/s/opensans/v13/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff')
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 700;
	src: local('Open Sans Bold'), local('OpenSans-Bold'), url(http://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzKRDOzjiPcYnFooOUGCOsRk.woff) format('woff')
}
#colorPick * {
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-ms-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
}
#colorPick {
	background: rgba(255, 255, 255, 0.85);
	-webkit-backdrop-filter: blur(15px);
	position: absolute;
	border-radius: 5px;
	box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
	padding: 15px;
	font-family: "Open Sans", sans-serif;
	width: 140px;
}
#colorPick span {
	font-size: 9pt;
	text-transform: uppercase;
	font-weight: bold;
	color: #bbb;
	margin-bottom: 5px;
	display: block;
	clear: both;
}
.customColorHash {
	border-radius: 5px;
	height: 23px;
	width: 122px;
	margin: 1px 4px;
	padding: 0 4px;
	border: 1px solid #babbba;
	outline: none;
}
.customColorHash.error {
	border-color: #ff424c;
	color: #ff424c;
}
.colorPickButton {
	border-radius: 5px;
	width: 20px;
	height: 20px;
	margin: 0px 3px;
	cursor: pointer;
	display: inline-block;
	border: thin solid #eee;
}
.colorPickButton:hover {
	transform: scale(1.1);
}
.colorPickDummy {
	background: #fff;
	border: 1px dashed #bbb;
}
.picker {
	border-radius: 5px;
	/*width: 36px;*/
	height: 36px;
	cursor: pointer;
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-ms-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
	border: thin solid #eee;
}
.picker:hover {
	transform: scale(1.1);
}
.add-color {
	cursor: pointer;
	-webkit-transition: all linear .2s;
	-moz-transition: all linear .2s;
	-ms-transition: all linear .2s;
	-o-transition: all linear .2s;
	transition: all linear .2s;
	/*border: thin solid #eee;*/
}
.add-color:hover {
	transform: scale(1.1);
}
.left-menu {
	height: auto;
	padding: 50px 0 0 0;
	
}
.left-menu-number {
	background-color: rgb(123,193,67);
	/*background-color: lightgrey;*/
	font-size: 35px;
	text-align: center;
	color: white;
}
.left-menu-text {
	color: white;
	background-color: rgb(83,83,83);
	padding: 11px;
}
.color-green {
	background-color: green;
}
.first-step {
	border-bottom: 57px solid white;
}
.first-step-option {
}
.sub-menu {
	display: none;
}
ul li {
	list-style: none;
}
.menu li {
	border-bottom: 1px solid white;
}
.sub-menu li {
	background-color:rgb(233,229,229);
	border-top: 1px solid white !important;
	border-bottom: 1px solid white;
}	

/**/
.setp-shape {
    /*clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 0 53%, 0% 0%);*/
    /* clip-path: polygon(0% 0%, 87% 0, 100% 50%, 87% 100%, 0% 100%);
    height: auto;
    background-color:rgb(157,143,139);
    text-align: left;
    color: white;
    padding-top: 10px;
    padding-bottom:10px; */
    background-image: url(../../images/StepBox-Navy.png);
    background-repeat: no-repeat;
    padding: 7px;
    padding-left: 35px;
}
ul.process-step{
    margin-bottom: 0px;
    float: right;
}
ul.process-step li{
    display: inline-block;
    list-style: none;
    width:176px;
    height: 54px;
    padding: 6px 10px 7px 37px;
    /* text-align: center; */
    font-size: 16px;
    color:white;
    float:left;
    background-image: url(../../images/StepBox-light-gray.png) !important;
    background-repeat: no-repeat;
    margin-left: -18px;
}
ul.process-step li.complete{
    list-style: none;
    width:176px;
    height: 54px;
    padding: 6px 10px 7px 37px;
    /* text-align: center; */
    font-size: 16px;
    color:white;
    float:left;
    background-image: url(../../images/StepBox-Green.png) !important;
    background-repeat: no-repeat;
    margin-left: -18px;
}
ul.process-step li.complete:last-child{
    list-style: none;
    width:176px;
    height: 54px;
    padding: 6px 10px 7px 37px;
    /* text-align: center; */
    font-size: 16px;
    color:white;
    float:left;
    background-image: url(../../images/StepBox-Green-End.png) !important;
    background-repeat: no-repeat;
    margin-left: -18px;
}
ul.process-step li span{
font-size: 12px;
    width: 130px;
    display: block;
}
ul.process-step li:last-child{
    background-image: url(../../images/StepBox-light-grey-End.png) !important;
}

.step-2-shape {
    /*clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 10% 50%, 0% 0%);*/
    /* clip-path: polygon(87% 0, 100% 50%, 87% 100%, 0% 100%, 13% 52%, 0% 0%);
    height: auto;
    background-color:rgb(157,143,139);
    text-align: left;
    color: white;
    padding-top: 10px;
    margin-left: -9px;
    padding-left: 40px;
    padding-bottom:10px; */
    background-image: url(../../images/StepBox-Navy.png);
    background-repeat: no-repeat;
    padding: 7px;
    padding-left: 35px;
}	



/*.nav-side-menu
{
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 300px;
    height: 100%;
    color: #e1ffff;
}

.nav-side-menu .brand {
    background-color: #23282e;
    line-height: 50px;
    display: block;
    text-align: center;
    font-size: 14px;
}

.nav-side-menu .toggle-btn {
    display: none;
}

.nav-side-menu ul,
.nav-side-menu li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
}

    .nav-side-menu ul :not(collapsed) .arrow:before,
    .nav-side-menu li :not(collapsed) .arrow:before {
        font-family: FontAwesome;
        content: "\f078";
        display: inline-block;
        padding-left: 10px;
        padding-right: 10px;
        vertical-align: middle;
        float: right;
    }

    .nav-side-menu ul .active,
    .nav-side-menu li .active {
        border-left: 3px solid #d19b3d;
        background-color: #4f5b69;
    }

    .nav-side-menu ul .sub-menu li.active,
    .nav-side-menu li .sub-menu li.active {
        color: #d19b3d;
    }

        .nav-side-menu ul .sub-menu li.active a,
        .nav-side-menu li .sub-menu li.active a {
            color: #d19b3d;
        }

    .nav-side-menu ul .sub-menu li,
    .nav-side-menu li .sub-menu li {
        background-color: #181c20;
        border: none;
        line-height: 28px;
        border-bottom: 1px solid #23282e;
        margin-left: 0px;
    }

        .nav-side-menu ul .sub-menu li:hover,
        .nav-side-menu li .sub-menu li:hover {
            background-color: #020203;
        }

        .nav-side-menu ul .sub-menu li:before,
        .nav-side-menu li .sub-menu li:before {
            font-family: FontAwesome;
            content: "\f105";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
        }

.nav-side-menu li {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid #23282e;
}

    .nav-side-menu li a {
        text-decoration: none;
        color: white;
    }

        .nav-side-menu li a i {
            padding-left: 10px;
            width: 20px;
            padding-right: 20px;
        }

    .nav-side-menu li:hover {
        border-left: 3px solid #d19b3d;
        background-color: #4f5b69;
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
    }

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

        .nav-side-menu .toggle-btn {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10 !important;
            padding: 3px;
            background-color: #ffffff;
            color: #000;
            width: 40px;
            text-align: center;
        }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0px;
    padding: 0px;
}


.nav-side-menu {
    overflow: auto;
    font-family: verdana;
    font-size: 12px;
    font-weight: 200;
    background-color: #2e353d;
    position: fixed;
    top: 0px;
    width: 301px;
    height: 100%;
    color: #e1ffff;
}

.nav-side-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.6);
    background-color: #CCCCCC;
}

.nav-side-menu::-webkit-scrollbar {
    width: 0px;
    background-color: #F5F5F5;
}

.nav-side-menu::-webkit-scrollbar-thumb {
    background-color: #FFF;
    background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 25%, transparent 100%, rgba(0, 0, 0, 1) 75%, transparent)
}

.nav-side-menu {
    width: 250px;
    height: 100%;
    overflow-y: scroll;
    scrollbar-color: rebeccapurple green;
    scrollbar-width: none;
}

    .nav-side-menu .brand {
        background-color: #23282e;
        line-height: 50px;
        display: block;
        text-align: center;
        font-size: 14px;
    }

    .nav-side-menu .toggle-btn {
        display: none;
    }

    .nav-side-menu ul,
    .nav-side-menu li {
        list-style: none;
        padding: 0px;
        margin: 0px;
        line-height: 35px;
        cursor: pointer;
    }

        .nav-side-menu ul :not(collapsed) .arrow:before,
        .nav-side-menu li :not(collapsed) .arrow:before {
            font-family: FontAwesome;
            content: "\f078";
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
            vertical-align: middle;
            float: right;
        }

        .nav-side-menu ul .active,
        .nav-side-menu li .active {
            border-left: 3px solid #d19b3d;
            background-color: #4f5b69;
        }

        .nav-side-menu ul .sub-menu li.active,
        .nav-side-menu li .sub-menu li.active {
            color: #d19b3d;
        }

            .nav-side-menu ul .sub-menu li.active a,
            .nav-side-menu li .sub-menu li.active a {
                color: #d19b3d;
            }

        .nav-side-menu ul .sub-menu li,
        .nav-side-menu li .sub-menu li {
            background-color: #181c20;
            border: none;
            line-height: 28px;
            border-bottom: 1px solid #23282e;
            margin-left: 0px;
        }

            .nav-side-menu ul .sub-menu li:hover,
            .nav-side-menu li .sub-menu li:hover {
                background-color: #020203;
            }

            .nav-side-menu ul .sub-menu li:before,
            .nav-side-menu li .sub-menu li:before {
                font-family: FontAwesome;
                content: "\f105";
                display: inline-block;
                padding-left: 10px;
                padding-right: 10px;
                vertical-align: middle;
            }

    .nav-side-menu li {
        padding-left: 0px;
        border-left: 3px solid #2e353d;
        border-bottom: 1px solid #23282e;
    }

        .nav-side-menu li a {
            text-decoration: none;
            color: white;
        }

            .nav-side-menu li a i {
                padding-left: 10px;
                width: 20px;
                padding-right: 20px;
            }

        .nav-side-menu li:hover {
            border-left: 3px solid #d19b3d;
            background-color: #4f5b69;
            -webkit-transition: all 1s ease;
            -moz-transition: all 1s ease;
            -o-transition: all 1s ease;
            -ms-transition: all 1s ease;
            transition: all 1s ease;
        }

@media (max-width: 767px) {
    .nav-side-menu {
        position: relative;
        width: 100%;
        margin-bottom: 10px;
    }

        .nav-side-menu .toggle-btn {
            display: block;
            cursor: pointer;
            position: absolute;
            right: 10px;
            top: 10px;
            z-index: 10 !important;
            padding: 3px;
            background-color: #ffffff;
            color: #000;
            width: 40px;
            text-align: center;
        }

    .brand {
        text-align: left !important;
        font-size: 22px;
        padding-left: 20px;
        line-height: 50px !important;
    }
}

@media (min-width: 767px) {
    .nav-side-menu .menu-list .menu-content {
        display: block;
    }
}

body {
    margin: 0px;
    padding: 0px;
}*/
@media (min-width: 320px) and (max-width: 768px) {
   

}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  h3{
  	font-size: 1rem;
  }
  .modal{
  	width:97%;
  	margin: 0 auto;
  }
  .team-discription-text{
  	font-size: 12px !important;
  }
  ..search-container{
  	width:81% !important;
  }
  .new-arrivals h2 {
  	font-size: 50px !important;
  }
  .customize-design-btn{
  	margin-top: 0px !important;
  }
  .nav-link.active{
  	width:40% !important;
  }
  
}
